.header-image {
    width: 100%;
    margin-top: 0;
}
.about-profile-pic {
    float:center;
    margin: 0 1em 1em 0;
     display: block;
    margin: 0 auto;
    margin-bottom: 1em;
    margin-top: 0;
width: fill;
    height: 20%;

}